.story-page {
  background-image: linear-gradient(#fec482 50%, #435889);
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Trade Winds", cursive;

  h2 {
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px 2px #000;
    width: 100%;
    font-size: 4rem;
  }
}
