.map {
    position: relative;
    width: 800px;
    height: 420px;
    background-color: green;
    top: 0px;
    left: 0px;
}

.row {
    display: flex;
}

.tile {
    width: 28px;
}

.grass {
    background-color: green;
}

.rock {
    background-color: grey;
}

.tree {
    background-color: burlywood;
}