.map {
    position: relative;
    width: 800px;
    height: 420px;
    background-color: green;
    top: 0px;
    left: 0px;
}

.row {
    display: flex;
}

.tile {
    width: 28px;
}

.wall {
    background-image: url('../../assetts/walls.png');
    background-size: cover;
}

.path {
    background-image: url('../../assetts/floor.jpg');
    background-size: cover;
}

.nothing {
    background-color: black;
}