div {
  /* Animate Background Image */

  @keyframes aitf {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .h1 {
    text-decoration: none;
    color: #fff;
    text-shadow: 4px 3px #000;
    font-size: 2.8rem;
    img {
      height: 40px;
      margin-left: 10px;
    }
    &:hover {
      color: rgb(206, 206, 206);
    }
    @media (max-width: 800px) {
      display: flex;
      font-size: 1.8rem;
    }
  }

  h1 {
    font-size: 2.8rem;
    letter-spacing: 0;
    padding: 0.25em 0 0.325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);

    /* Clip Background Image */

    background: url(../../assetts/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

    /* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }

  nav {
    width: 45%;
    text-shadow: 1px 1px #000;
    @media (max-width: 1200px) {
      text-align: center;
    }

    a {
      font-size: 1.5rem;
      color: #fff;
      text-decoration: none;
      margin: 2%;
      @media (max-width: 1200px) {
        font-size: 1.1rem;
      }
      @media (max-width: 800px) {
        font-size: 0.7rem;
      }
      &:hover {
        color: #c12b47;
      }

      @media (max-width: 1200px) {
        border: none;
        box-shadow: none;
        background: none;
        &:hover {
          background: none;
          color: #c12b47;
        }
      }
    }
    .active {
      color: #fff;
      background: #c12b47;
      border: 2px solid #fff;
      border-radius: 10px;
      box-shadow: 1px 1px 3px #000;
      text-decoration: none;
      text-shadow: 1px 1px #000;
      padding: 1% 2%;
      &:hover {
        background: #b12740;
      }
    }
  }
}
