@import "./sass-shared/mixins.scss";
@import "./sass-shared/variables.scss";

@font-face {
  font-family: "PressStart2P";
  src: url("./assetts/fonts/PressStart2P-Regular.ttf");
}

body {
  box-sizing: border-box;
  font-family: "PressStart2P";
  font-size: 12px;
}

.game {
  background-color: black;
  padding: 2%;
}
