.left-side {
    margin-top: 50px;
}

.win-status {
    position: absolute;
    top: 250px;
    left: 330px;
    z-index: 9000;
    font-size: 76px;
    color: #fff;
}

.no-show {
    display: none;
}